body {
    margin: 1;
    background-color: #313339;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    
}

.v1{
    width: 30vw;
    opacity: 0.25;
}

#block {
  position: absolute;
  margin: auto;
  top: 15vh;
  right: 0;
  bottom: 15vh;
  left: 0;
  width: 70vw;
  height: 70vh;
}

#social {
margin: 10% 25% auto 25%; 
}

.anchor {
    color: #DC143C;
    margin: auto;
    text-align: center; 
    text-decoration: none;
}

a {
    color: #fff;
    margin: auto;
    text-decoration: none;
}

.anchor:hover {
    color: #FF0000;
}

.anchor:visited {
    color: grey;
}